
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: black;
    color: #fff;
    margin-top: 1em;
    width: 30%;
    height: 20em;
    padding: 0.3em;
    border-radius: 0.5em;
    margin: 1em auto 0 auto;
}

.data {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

span {
    color: yellow;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    width: 90%;
    background-color: black;
    padding: 0.2em;
    border-radius: 0em 0em 0.5em 0.5em;
    margin: 0 auto;
}

.btn button {
    background-color: #fff;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 40%;
    border-radius: 0.5em;
    transition: 1s;
}

.btnUpdate:hover {
    background-color: yellow;
    color: #000;
}

.btnDelete:hover {
    background-color: red;
    color: #fff;
}

.containerNoFamilyMembers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: #000;
    color: yellow;
    font-weight: bold;
    width: 100%;
    margin-top: 1em;
}